[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = michael o'donovan
	email = mikeodonovan3@gmail.com
[init]
	defaultBranch = main

# g = 'git' is in .bashrc
[alias]
	st = status

